.footer{
  .columns{
    .column{
      .footer-links{
          li{
            margin: 0 auto;
            width: 40%;
            border-top: 1px solid #00d1b2;
            border-bottom: 1px solid #00d1b2;
            text-align: left;
            padding: 0.3rem;
          }

      }
      .follows{
        text-align: left;
      }
    }
  }
}