.products-home{
  .column{
    .card{
      .card-image{
        .image.is-4by3{
          img{
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}