.react-slideshow-container{

  .react-slideshow-wrapper{
    .images-wrap{
      div {
        min-height: 380px;
        height: auto;
        div{
          div{
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

}
.indicators{
  margin-bottom: 20px !important;
}