@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '../../node_modules/bulma';
//@import "~bulma-extensions";
@import "slider";
@import "login";
@import "buscador";
@import "footer";
@import "products";
@import "product";
@import "checkout";

body,html {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}
#margin {
  margin-top:8rem;
}
.footer{
  background: #f1f1f1;
}
.titleMargin {
  margin-top:8rem;
}
.subtitle, .footer{
  margin-top:2rem;
}
.is-navbar{
  background: #66C7B4 !important;
}
.box-shadow{
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.2)
}
.custom{
  background:#3f51b5 !important;
  a{
    color: white;
    &:hover{
      color: white;
      background: #9c27b0 !important;
    }
  }
}
.navbarButton{
  border-radius: 0 !important;
}